*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0 auto;

}

header {
    height: 100vh;
}
    

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    width: 100%;
    height: 88.2%;
    background-image: url("/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}