*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1600px;
    height: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ee0000;
    color: #333;
    padding: 20px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}